body {
    background-color: white;
    font-family: sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
}

.nav {
    align-items: center;
    display: inline-block;
    margin: 0px;
}

a.nav {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.li:hover {
    background-color: #111;
  }

.active {
    background-color: rgb(169, 224, 219);
    color: gray;
    border-radius: 5px;
  }

.name {
    float: left;
    align-items: center;
    font-size: 16px;
}

a.name {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.linkedin {
    float: right;
    align-items: center;
}

a.linkedin {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1.banner {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container div {
    margin: 20px;
    padding: 20px;
    text-align: center;
}
